{{ define "main" }}
<div class="position-relative overflow-hidden text-center">
    <div class="container">
        <div class="row" style="height: calc(100vh - 56px);">
            <div class="col-md-8 mx-auto align-self-center">
                <h1 class="display-4 fw-normal">Meet Science</h1>
                <p class="lead fw-normal mission">Avvicinare le persone alla scienza e alla ricerca tramite
                    presentazioni, interviste e interventi dei diretti protagonisti.</p>
                <div class="social-div">
                    <a class="index-social-logo-link" href="https://twitch.tv/MeetScience" alt="Twitch">
                        <img class="index-social-logo social-logo" src="assets/logos/Twitch.svg" />
                    </a>
                    <a class="index-social-logo-link" href="https://youtube.com/MeetScience" alt="Youtube">
                        <img class="index-social-logo social-logo" src="assets/logos/Youtube.svg" />
                    </a>
                    <a class="index-social-logo-link" href="https://instagram.com/Meet.Science" alt="Instagram">
                        <img class="index-social-logo social-logo" src="assets/logos/Instagram.svg" />
                    </a>
                    <a class="index-social-logo-link" href="https://twitter.com/MeetScienceIT" alt="Twitter">
                        <img class="index-social-logo social-logo" src="assets/logos/Twitter.svg" />
                    </a>
                    <a class="index-social-logo-link" href="https://facebook.com/ph.me" alt="Facebook">
                        <img class="index-social-logo social-logo" src="assets/logos/Facebook.svg" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 mx-auto align-self-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_science_fqhl.svg" />
            </div>
        </div>
    </div>
</div>


<div class="position-relative overflow-hidden bg-teal section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_teaching_f1cm.svg" />
            </div>
            <div class="col-xl-7 col-lg-offset-1 text-center align-self-center">
                <h1 class="display-4 fw-normal">Il nostro scopo</h1>


                <div class="definition">
                    <i><b>divulgare</b> v. tr. <br />Rendere accessibili a un più vasto pubblico, per mezzo di
                        un’esposizione semplice e piana, nozioni scientifiche e tecniche
                    </i>
                </div>
                <p class="lead fw-normal mission">
                    Vogliamo fare divulngazione ma scritto in modo figo.<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>


            </div>
        </div>
    </div>
</div>




<div class="position-relative overflow-hidden section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-7 col-lg-offset-1 text-center align-self-center">
                <h1 class="display-4 fw-normal">Chi siamo: lo staff</h1>
                <p class="staff-body">
                    Siamo professori e ricercatori, ma anche studenti.<br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>


            </div>
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_Social_bio_re_0t9u.svg" />
            </div>
        </div>

        <div class="row avatar-row">
            <div class="col-xl-3 align-self-center text-center">
                <img class="avatar" src="https://randomuser.me/api/portraits/men/75.jpg" />
                <div>
                    <b>Andrea Togni</b><br/>
                    <i>Freelance System Reliabily Engineer</i>
                    <div class="avatar-social">
                        <a class="index-social-logo-link" href="https://instagram.com/Meet.Science" alt="Instagram">
                            <img class="index-social-logo social-logo" src="assets/logos/Instagram.svg" />
                            <a/>
                            <a class="index-social-logo-link" href="https://twitter.com/MeetScienceIT" alt="Twitter">
                                <img class="index-social-logo social-logo" src="assets/logos/Twitter.svg" />
                            </a>
                            <a class="index-social-logo-link" href="https://facebook.com/ph.me" alt="Facebook">
                                <img class="index-social-logo social-logo" src="assets/logos/Facebook.svg" />
                            </a>
                        </div>
                </div>
                
            </div>
            <div class="col-xl-9 col-lg-offset-1 text-center align-self-center">
                <p class="staff-body">
                    Sono Pandry, yay!<br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>

        <div class="row avatar-row">
            <div class="col-xl-9 col-lg-offset-1 text-center align-self-center">
                <p class="staff-body">
                    Sono Pandry, yay!<br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                </p>
            </div>
            <div class="col-xl-3 align-self-center text-center">
                <img class="avatar" src="https://randomuser.me/api/portraits/men/75.jpg" />
                <div>
                    <b>Andrea Togni</b><br/>
                    <i>Freelance System Reliabily Engineer</i>
                    <div class="avatar-social">
                        <a class="index-social-logo-link" href="https://instagram.com/Meet.Science" alt="Instagram">
                            <img class="index-social-logo social-logo" src="assets/logos/Instagram.svg" />
                            <a/>
                            <a class="index-social-logo-link" href="https://twitter.com/MeetScienceIT" alt="Twitter">
                                <img class="index-social-logo social-logo" src="assets/logos/Twitter.svg" />
                            </a>
                            <a class="index-social-logo-link" href="https://facebook.com/ph.me" alt="Facebook">
                                <img class="index-social-logo social-logo" src="assets/logos/Facebook.svg" />
                            </a>
                        </div>
                </div>
            </div>
        </div>



    </div>
</div>





{{ end }}