.bg-main {
  background-color: #08b1a8;
}
/*
Index page
*/

.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
    color: #fff;
    text-decoration: none;
}
.site-header nav.navbar img.logo{
  max-height: 35px;
}

.index-header-teaching {
  width: 140%;
}
@media screen and (max-width: 770px) {
  img.index-header-teaching{
    display: none;
    }
}
div.social-div .index-social-logo-link{
  text-decoration: none;
}
div.social-div .index-social-logo-link.card{
  color: #eee;
  /*display: ruby;*/
  transition: 0.3s;
  margin-top: 15px;
  border-radius: 8px;
}
div.social-div index-social-logo-link.card:hover{
  transform: translateY(2px);
}
div.social-div .index-social-text{
  font-size: 1.35em;
  font-family: 'Gelion', sans-serif;
  font-weight: 500;
  padding-top: 12px;
}
@media screen and (max-width: 360px) {
  div.social-div .index-social-text{
    text-align: left;
    padding-left: 20px;
    }
}
@media screen and (max-width: 300px) {
  div.social-div .index-social-logo.social-logo{
    display: none;
    }
}
.index-social-logo-link.card.twitch{background-color: #9146ff;}
.index-social-logo-link.card.youtube{background-color: #ff0000;} .youtube .social-logo{filter: grayscale() brightness(100);}
.index-social-logo-link.card.instagram{background-color: #C13584;} .instagram .social-logo{filter: brightness(100);}
.index-social-logo-link.card.twitter{background-color: #1D9BF0;} .twitter .social-logo{filter: brightness(10);}
.index-social-logo-link.card.facebook{background-color: #1877f2;}
.social-div{
  margin-top: 40px;
  margin-bottom: 20px
}
div.social-div .index-social-logo{
  width: 40px;
  height: 40px;
  margin: 0 10px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.bg-teal{
  background-color: var(--bs-teal);
}

.section-padding{
  padding: 150px 0;
}

.definition {
  border-left: 3px solid rgb(0, 108, 151);
  padding: 10px;
  margin: 30px 0;
} 
.avatar-row{
  margin: 40px 0;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
  object-position: top;
}

.avatar-row::before{
  content: ' ';
  width: 100%;
  height: 1px;
  background: 1px gray;
  margin-bottom: 40px;
}

.avatar-social-old {
  margin-top: 15px;
}

.avatar-social .social-logo{
  width: 30px;
  height: 30px;
}

.list-unlisted{
  list-style: none;
}

.contacts-footer a {
  color: #ddd
}

/*
Blog page list
*/

.post-list-post-container{
  transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.post-list-post-container:hover{
  box-shadow: 6px 6px 6px rgba(0,0,0,0.4) !important;
  transform: translateY(-8px);
}

.post-list-featured-image{
  max-height: 250px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/*
Blog page
*/

.post-featured-image{
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}