{{ define "main" }}
<div class="position-relative overflow-hidden text-center">
    <div class="container">
        <div class="row py-5 mt-5 mb-5" style="height: calc(100vh - 86px);min-height: 800px;">
            <div class="col-md-8 mx-auto align-self-center">
                <h1 class="display-4 fw-normal">
                    <img src="/assets/logos/Logo.svg" alt="Meet Science" style="height: 80px;max-width: 100%;"/>
                </h1>
                <p class="lead fw-normal mission">Siamo un gruppo di scienziati e persone interessate alla divulgazione. <br/>
                    Vogliamo far avvicinare le persone alla scienza e al mondo della ricerca, sopratutto intervistando direttamente i ricercatori,
                    primi protagonisti di questa realtà.<br/>
                    </p>
                    <!-- Assolutamente da rivedere -->
                <div class="social-div">
                    <a class="index-social-logo-link card twitch" href="https://twitch.tv/MeetScience" alt="Twitch">
                        <p class="index-social-text">Siamo su Twitch!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Twitch.svg" />
                    </a>
                    <a class="index-social-logo-link card youtube" href="https://youtube.com/MeetScience" alt="Youtube">
                        <p class="index-social-text">Siamo su YouTube!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Youtube.svg" />
                    </a>
                    <a class="index-social-logo-link card instagram" href="https://instagram.com/Meet.Science" alt="Instagram">
                        <p class="index-social-text">Siamo su Instagram!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Instagram.svg" />
                    </a>
                    <a class="index-social-logo-link card twitter" href="https://twitter.com/MeetScienceIT" alt="Twitter">
                        <p class="index-social-text">Siamo su Twitter!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Twitter.svg" />
                    </a>
                    <a class="index-social-logo-link card facebook" href="https://facebook.com/ph.me" alt="Facebook">
                        <p class="index-social-text">Siamo su Facebook!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Facebook.svg" />
                    </a>
                </div>
            </div>
            <div class="col-md-4 mx-auto align-self-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_science_fqhl.svg" />
            </div>
        </div>
    </div>
</div>

<!--
<div class="position-relative overflow-hidden bg-main section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_teaching_f1cm.svg" />
            </div>
            <div class="col-xl-7 text-center align-self-center">
                <h1 class="display-4 fw-normal">Il nostro scopo</h1>


                <div class="definition">
                    <i><b>divulgare</b> v. tr. <br />Rendere accessibili a un più vasto pubblico, per mezzo di
                        un’esposizione semplice e piana, nozioni scientifiche e tecniche
                    </i>
                </div>
                <p class="lead fw-normal mission">
                    Vogliamo fare divulgazione, portando persone che la scienza la fanno sotto i riflettori.<br />
                    <!- Assolutamente da rivedere ->
                </p>


            </div>
        </div>
    </div>
</div>
-->



<div class="position-relative overflow-hidden section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-7 text-center align-self-center">
                <h1 class="display-4 fw-normal">Chi siamo: lo staff</h1>
                <p class="staff-body">
                    Siamo professori e ricercatori, ma anche studenti da vari ambiti.<br />
                    Qui potete trovare una breve presentazione ed i nostri contatti.
                </p>


            </div>
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_Social_bio_re_0t9u.svg" />
            </div>
        </div>
    </div>

    <div class="container">



        {{ $Authors := where $.Site.Pages "Section" "authors" }}
        {{ range $Authors }}
        {{ if and (isset .Params "profession" ) (isset .Params "roles") }}
        <div class="row avatar-row">
            <div class="col-xl-3 align-self-center text-center ">
                <img class="avatar" src="{{ .Params.avatar }}" />
                <div>
                    <b>{{ .Title }}</b><br/>
                    <i>{{ .Params.profession }}</i>
                    <div class="avatar-social mt-2 mb-2">
                        {{ range .Params.social}}
                        <a class="index-social-logo-link" href="{{ .url }}" alt="{{ .icon }}">
                            <img class="index-social-logo social-logo" src="assets/logos/{{ .icon }}.svg" />
                        </a>
                        {{ end }}
                    </div>
                </div>
                
            </div>
            <div class="col-xl-9 text-center align-self-center">
                <p class="staff-body">
                    {{ .Content }}
                </p>
            </div>
        </div>
            
        {{ end }}
        {{ end }}



    </div>
</div>


<!-- TODO: Sostituire questo font -->
<link href="http://fonts.cdnfonts.com/css/gelion" rel="stylesheet">

{{ end }}
