{{ define "main" }}
<div class="position-relative overflow-hidden text-center">
    <div class="container">
        <div class="row py-5 mt-5 mb-5" style="height: calc(100vh - 86px);min-height: 800px;">
            <div class="col-md-8 mx-auto align-self-center">
                <h1 class="display-4 fw-normal">
                    <img src="/assets/logos/Logo.svg" alt="Meet Science Logo" style="height: 80px;max-width: 100%;"/>
                </h1>
                <p class="lead fw-normal mission">Siamo un gruppo di scienziati e persone interessate alla divulgazione. <br/>
                    Vogliamo far avvicinare le persone alla scienza e al mondo della ricerca, sopratutto intervistando direttamente i ricercatori,
                    primi protagonisti di questa realtà.<br/>
                    </p>
                <div class="social-div">
                    <a class="index-social-logo-link card youtube" href="https://youtube.com/MeetScience" alt="Youtube" rel="noreferrer">
                        <p class="index-social-text">Siamo su YouTube!</p>
                        <img class="index-social-logo social-logo" src="assets/logos/Youtube.svg" alt="Youtube"/>
                        <a class="index-social-logo-link card instagram" href="https://instagram.com/Meet.Science" alt="Instagram" rel="noreferrer">
                            <p class="index-social-text">Siamo su Instagram!</p>
                            <img class="index-social-logo social-logo" src="assets/logos/Instagram.svg" alt="Instagram"/>
                        </a>
                        <a class="index-social-logo-link card twitter" href="https://twitter.com/MeetScienceIT" alt="Twitter" rel="noreferrer">
                            <p class="index-social-text">Siamo su Twitter!</p>
                            <img class="index-social-logo social-logo" src="assets/logos/Twitter.svg" alt="Twitter"/>
                        </a>
                        <a class="index-social-logo-link card facebook" href="https://www.facebook.com/MeetScienceIT" alt="Facebook" rel="noreferrer">
                            <p class="index-social-text">Siamo su Facebook!</p>
                            <img class="index-social-logo social-logo" src="assets/logos/Facebook.svg" alt="Facebook"/>
                        </a>
                        <a class="index-social-logo-link card telegram" href="https://t.me/MeetScience" alt="Telegram" rel="noreferrer">
                            <p class="index-social-text">Siamo su Telegram!</p>
                            <img class="index-social-logo social-logo" src="assets/logos/Telegram.svg" alt="Telegram"/>
                        </a>
                        </a>
                        <a class="index-social-logo-link card twitch" href="https://twitch.tv/MeetScience" alt="Twitch" rel="noreferrer">
                            <p class="index-social-text">Siamo su Twitch!</p>
                            <img class="index-social-logo social-logo" src="assets/logos/Twitch.svg" alt="Twitch"/>
                        </a>
                </div>
            </div>
            <div class="col-md-4 mx-auto align-self-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_science_fqhl.svg" />
            </div>
        </div>
    </div>
</div>

<!--
If you think commented code is bad (and, to be clear, it IS), you haven't seen anything yet :3

<div class="position-relative overflow-hidden bg-main section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_teaching_f1cm.svg" />
            </div>
            <div class="col-xl-7 text-center align-self-center">
                <h1 class="display-4 fw-normal">Il nostro scopo</h1>
                <div class="definition">
                    <i><b>divulgare</b> v. tr. <br />Rendere accessibili a un più vasto pubblico, per mezzo di
                        un’esposizione semplice e piana, nozioni scientifiche e tecniche
                    </i>
                </div>
                <p class="lead fw-normal mission">
                    Vogliamo fare divulgazione, portando persone che la scienza la fanno sotto i riflettori.<br />
                    <!- Assolutamente da rivedere, nel duemilacredici ->
                </p>


            </div>
        </div>
    </div>
</div>
-->



<div class="position-relative overflow-hidden section-padding">
    <div class="container-xxl">
            <h2 style="text-align: center;"> I nostri ultimi video</h2>
            <div class="row latest-videos-rows" style="padding: 60px 0;">
            <noscript>Devi attivare javascript per poter vedere questa sezione <br/>
                You need to enable javascript to see this section of the website</noscript>
            </div>
        <hr/>
        </div>


    <div class="container">
        <div class="row">
            <div class="col-xl-7 text-center align-self-center">
                <h1 class="display-4 fw-normal">Chi siamo: lo staff</h1>
                <p class="staff-body">
                    Siamo professori e ricercatori, ma anche studenti da vari ambiti.<br />
                    Qui potete trovare una breve presentazione ed i nostri contatti.
                </p>


            </div>
            <div class="col-xl-5 align-self-center text-center">
                <img class="index-header-teaching" src="assets/illustrations/undraw_Social_bio_re_0t9u.svg" alt="" />
            </div>
        </div>
    </div>

    <div class="container-xxl">
       <div class="row">
           {{ $Authors := where $.Site.Pages "Section" "authors" }}
           {{ range $Authors }}
           {{ if and (isset .Params "profession" ) (isset .Params "roles") }}
           <div class="col-xl-4 col-md-6 col-sm-12">
            <div class="card author-card">
                <img class="avatar-image" src="{{ .Params.avatar }}" loading="lazy"/>
                <div class="card-body" style="padding-top: 70px">
                    <h5 class="card-title">{{ .Title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ .Params.profession }}</h6>
                    <div class="avatar-social mt-2 mb-2">
                        {{ range .Params.social}}
                        <a class="index-social-logo-link" href="{{ .url }}" alt="{{ .icon }}" rel="noreferrer">
                            <img class="index-social-logo social-logo" src="assets/logos/{{ .icon }}.svg" alt="{{ .Title }} {{ .icon }}"/>
                        </a>
                        {{ end }}
                    </div>
                    <div class="card-text author-biography">{{ .Content }}</div>
                </div>
            </div>
        </div>
            {{ end }}
        {{ end }}
    </div>

    </div>
</div>


<!-- TODO (in un'altra vita): Sostituire questo font -->
<link href="https://fonts.cdnfonts.com/css/gelion" rel="stylesheet">

<script type="text/javascript">
    const vr = document.querySelector("div.latest-videos-rows");
    const latestVideoURL = "https://assets.meetscience.it/file/meetscience/videos/youtube.json";
    fetch(latestVideoURL)
    .then(response => response.json())
    .then( latestVideos =>{
        let awfulHTML = "";
        for (video of latestVideos.sort((a,b)=> a.time-b.time).slice(0,4) ){
            awfulHTML += `<div class="col-lg-3 col-md-6 col-12" >
                        <a class="card bg-dark text-white video-card" href="${zigzag(video.link)}" target="_blank" rel="noreferrer">
                            <img src="${zigzag(video.image)}" class="card-img" loading="lazy">
                            <div class="card-img-overlay">
                            <h5 class="card-title">${zigzag(video.title)}</h5>
                            </div>
                        </a>
                    </div>`
        }
        vr.innerHTML = awfulHTML;
        });
    zigzag = stuff => stuff.replace(/[^0-9a-zA-Z/_:; .,?=&#()\[\]\u007b-\u00ed\u1F30-\u1F5F-]/g, "");  // Absolutely NOT poorly written on purpose.
                                                                                                      // Also absolutely not being sarcastic.
                                                                                                      // This is top notch quality content code.
                                                                                                      // And wait till I need to add more JS 
                                                                                                
                                                                                                      // Oh man this is gonna backfire @ me sooo badly
</script>

{{ end }}
