<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Meet Science - Divulgazione scientifica">
    <meta name="description" content="Meet Science è un progetto italiano di divulgazione scientifica. Presentiamo la scienza intervistando gli scienziati, primi protagonisti di questa realtà, senza tralasciare il fattore umano">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://meetscience.it/">
    <meta property="og:title" content="Meet Science - Divulgazione scientifica">
    <meta property="og:description" content="Meet Science è un progetto italiano di divulgazione scientifica. Presentiamo la scienza intervistando gli scienziati, primi protagonisti di questa realtà, senza tralasciare il fattore umano">
    <meta property="og:image" content="/banner.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://meetscience.it/">
    <meta property="twitter:title" content="Meet Science - Divulgazione scientifica">
    <meta property="twitter:description" content="Meet Science è un progetto italiano di divulgazione scientifica. Presentiamo la scienza intervistando gli scienziati, primi protagonisti di questa realtà, senza tralasciare il fattore umano">
    <meta property="twitter:image" content="/banner.png">

    <link rel="stylesheet" href="/css/bootstrap.5.0.2.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
</head>