<header class="site-header"> <!-- sticky-top py-1 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-md">
      <a class="navbar-brand" href="/">
        <img src="/assets/logos/LogoB.svg" alt="{{ .Site.Title }}" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarItems">
        <ul class="navbar-nav ms-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ .URL }}">
          {{ if .Pre }}
              {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
              {{ $icon }}
          {{ end }}
          {{ $text := print .Name | safeHTML }}
          {{ $text }}
          </a>
      {{ end }}
  </div>
  </nav>
</header>